<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete todo list</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Are you Sure?</h1>
        <form method="post">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
        <a href="{% url 'todo_list_list' %}">
          <button>Cancel</button>
        </a>
      </div>
    </main>
  </body>
</html>
