<!DOCTYPE html>
<html lang="en">
  <!-- keywords: todo, -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' todo.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' todo.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
          {% for task in todo.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a>
              </td>
              <td>{{ task.due_date }}</td>
              <td>
                <a href="{% url 'todo_item_delete' task.id %}">
                  <button>Delete</button>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <a href="{% url 'todo_list_list' %}">
        <button>home</button>
      </a>
    </main>
  </body>
</html>
