<!DOCTYPE html>
<html>

<head>
    <title>Edit a TodoList</title>
</head>

<body>
    <header>
    </header>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>
