<!DOCTYPE html>
<html lang="en">
  <!-- keywords: todos, -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <div>
          <a href="{% url 'todo_list_create' %}">
            <p>Create a new todo list</p>
          </a>
          <a href="{% url 'todo_item_create' %}">
            <p>Create a new item</p>
          </a>
        </div>
        <table>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
          {% for todo in todos %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
              </td>
              <td>{{ todo.items.all.count }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
